@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('ProximaNova-BoldIt.woff2') format('woff2'),
        url('ProximaNova-BoldIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('ProximaNova-Bold.woff2') format('woff2'),
        url('ProximaNova-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Bl';
    src: url('ProximaNova-Black.woff2') format('woff2'),
        url('ProximaNova-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Bl';
    src: url('ProximaNova-BlackIt.woff2') format('woff2'),
        url('ProximaNova-BlackIt.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Cn Bl';
    src: url('ProximaNovaCond-Black.woff2') format('woff2'),
        url('ProximaNovaCond-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Cn Bl';
    src: url('ProximaNovaCond-BlackIt.woff2') format('woff2'),
        url('ProximaNovaCond-BlackIt.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Cn Lt';
    src: url('ProximaNovaCond-Light.woff2') format('woff2'),
        url('ProximaNovaCond-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Cn Rg';
    src: url('ProximaNovaCond-BoldIt.woff2') format('woff2'),
        url('ProximaNovaCond-BoldIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Cn Lt';
    src: url('ProximaNovaCond-LightIt.woff2') format('woff2'),
        url('ProximaNovaCond-LightIt.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Cn Th';
    src: url('ProximaNovaCond-ExtrabldIt.woff2') format('woff2'),
        url('ProximaNovaCond-ExtrabldIt.woff') format('woff');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Cn Rg';
    src: url('ProximaNovaCond-Bold.woff2') format('woff2'),
        url('ProximaNovaCond-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Cn Th';
    src: url('ProximaNovaCond-Extrabld.woff2') format('woff2'),
        url('ProximaNovaCond-Extrabld.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Cn Lt';
    src: url('ProximaNovaCond-SemiboldIt.woff2') format('woff2'),
        url('ProximaNovaCond-SemiboldIt.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Cn Lt';
    src: url('ProximaNovaCond-Semibold.woff2') format('woff2'),
        url('ProximaNovaCond-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Cn Rg';
    src: url('ProximaNovaCond-Regular.woff2') format('woff2'),
        url('ProximaNovaCond-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Cn Rg';
    src: url('ProximaNovaCond-RegularIt.woff2') format('woff2'),
        url('ProximaNovaCond-RegularIt.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Cn Th';
    src: url('ProximaNovaCond-Thin.woff2') format('woff2'),
        url('ProximaNovaCond-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova ExCn Bl';
    src: url('ProximaNovaExCn-Black.woff2') format('woff2'),
        url('ProximaNovaExCn-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova ExCn Th';
    src: url('ProximaNovaExCn-ExtrabldIt.woff2') format('woff2'),
        url('ProximaNovaExCn-ExtrabldIt.woff') format('woff');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova ExCn Rg';
    src: url('ProximaNovaExCn-Bold.woff2') format('woff2'),
        url('ProximaNovaExCn-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova ExCn Bl';
    src: url('ProximaNovaExCn-BlackIt.woff2') format('woff2'),
        url('ProximaNovaExCn-BlackIt.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova ExCn Th';
    src: url('ProximaNovaExCn-Extrabld.woff2') format('woff2'),
        url('ProximaNovaExCn-Extrabld.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova ExCn Rg';
    src: url('ProximaNovaExCn-BoldIt.woff2') format('woff2'),
        url('ProximaNovaExCn-BoldIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Cn Th';
    src: url('ProximaNovaCond-ThinIt.woff2') format('woff2'),
        url('ProximaNovaCond-ThinIt.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova ExCn Rg';
    src: url('ProximaNovaExCn-Regular.woff2') format('woff2'),
        url('ProximaNovaExCn-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova ExCn Rg';
    src: url('ProximaNovaExCn-RegularIt.woff2') format('woff2'),
        url('ProximaNovaExCn-RegularIt.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova ExCn Lt';
    src: url('ProximaNovaExCn-Light.woff2') format('woff2'),
        url('ProximaNovaExCn-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova ExCn Lt';
    src: url('ProximaNovaExCn-LightIt.woff2') format('woff2'),
        url('ProximaNovaExCn-LightIt.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova ExCn Lt';
    src: url('ProximaNovaExCn-Semibold.woff2') format('woff2'),
        url('ProximaNovaExCn-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova ExCn Lt';
    src: url('ProximaNovaExCn-SemiboldIt.woff2') format('woff2'),
        url('ProximaNovaExCn-SemiboldIt.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Lt';
    src: url('ProximaNova-LightIt.woff2') format('woff2'),
        url('ProximaNova-LightIt.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Lt';
    src: url('ProximaNova-Light.woff2') format('woff2'),
        url('ProximaNova-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Th';
    src: url('ProximaNova-ExtrabldIt.woff2') format('woff2'),
        url('ProximaNova-ExtrabldIt.woff') format('woff');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Th';
    src: url('ProximaNova-Extrabld.woff2') format('woff2'),
        url('ProximaNova-Extrabld.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova ExCn Th';
    src: url('ProximaNovaExCn-ThinIt.woff2') format('woff2'),
        url('ProximaNovaExCn-ThinIt.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova ExCn Th';
    src: url('ProximaNovaExCn-Thin.woff2') format('woff2'),
        url('ProximaNovaExCn-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('ProximaNova-RegularIt.woff2') format('woff2'),
        url('ProximaNova-RegularIt.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Th';
    src: url('ProximaNova-ThinIt.woff2') format('woff2'),
        url('ProximaNova-ThinIt.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Lt';
    src: url('ProximaNova-SemiboldIt.woff2') format('woff2'),
        url('ProximaNova-SemiboldIt.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('ProximaNova-Regular.woff2') format('woff2'),
        url('ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Th';
    src: url('ProximaNovaT-Thin.woff2') format('woff2'),
        url('ProximaNovaT-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Lt';
    src: url('ProximaNova-Semibold.woff2') format('woff2'),
        url('ProximaNova-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

